/*yes, this is terrible code. I'm a newb. what do you want from me?*/

/*body {
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Squada One', cursive;
	font-family: 'Odibee Sans', cursive;
	background-color: #3e403f;
}
*/
h1 {
	margin-bottom: 0px;
	margin: auto auto;
	color: black;
}

span {
	font-size: 1.5rem;
	color: red;
	
}
#header {
	text-align: center;
	color: white;
	font-weight: bold;
}

#image {
	margin-left: 29%;
	margin-right: auto;
	width: 50%;
}

/*p {
	text-align: center;
}*/